
.left img {
    width: 100px;
    padding:10px 0 0 250px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(68, 68, 66);

}
.container2{
    display: flex;
    
}

.right a {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;


}

.right a:hover {
    color: aqua;
    background-color: blue;
}

.right {
    padding: 40px 50px;
    
}

.container2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}
.left1{
    background-color: bisque;
    width:400px;
}

.heading {
    width: 1000px;
    border: 1px solid black;
}

.heading h1 {
    text-align: center;
}
.homeimage{
    padding: 100px 400px  ;
    
    
}
.homeimage img{
    width: 350px;
}

