.left img {
    width: 100px;
    padding: 10px 0 0 250px;

}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(68, 68, 66);

}

.right a {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;


}
@media only screen and (max-width: 600px){
    
}


.right a:hover {
    color: aqua;
    background-color: blue;
}

.right {
    padding: 40px 50px;

}
/* .right a:link{
    text-decoration: none;
} */

.home {
    background-color: gray;
    margin: 20px;
  
   

}
.homeimage{
    padding: 2.5rem 6.25rem 2.5rem 34.375rem ;
   
}
.homeimage img{
    width: 31.25rem;
    position: relative;
    
}

@media only screen and (max-width: 600px){
    .homeimage{
        padding: 3rem 9rem 2rem 0rem  ;
        justify-content: center;
       
    }
    .homeimage img{
        width: 31.25rem;
        position: relative;
        height: auto;
        
    }

}
.homeimage h2{
    color: aliceblue;
    padding:40px 0 0 130px;
    text-shadow: 5px 5px 5px 5px wheat;
    
}