.left img {
    width: 100px;
    padding: 10px 0 0 250px;
    
}
@media only screen and (max-width: 600px){
    .left img{
        padding: 4rem;
    }
}

.homeimage{
    /* padding: 2.5rem 6.25rem 2.5rem 34.375rem ; */
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
    
    
}



.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(68, 68, 66);
    
}

@media only screen and (max-width: 600px){
    .homeimage{
        /* padding: 3rem 9rem 2rem 0rem  ; */
        justify-content: center;
        
       
    }
    .homeimage img{
        
        position: relative;
        height: auto;
        
        
    }

}
.right a {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    display: block;
   
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    /* font-size: 17px; */
   
  }






.right a:hover {
    color: aqua;
    background-color: blue;
}
.topnav .icon {
    display: none;
  }



.right {
    padding: 40px 50px;
    overflow: hidden;
    background-color: #333;
    display: flex;

}
.right a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .right .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .right a:not(:first-child) {display: none;}
    .right a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .right.responsive {position: relative;}
    .right.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .right.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


.home {
    background-color: gray;
    margin: 20px;
  
   

}
.homeimage img{
    width: 31.25rem;
    position: relative;
    margin-top: 5rem;
    
}

.homeimage h2{
    color: aliceblue;
    padding:40px 0 0 130px;
    text-shadow: 5px 5px 5px 5px wheat;
    
}