
.left img {
    width: 100px;
    padding:10px 0 0 250px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(68, 68, 66);

}
@media screen and (max-width: 1000px){
    .container{
        display: grid;
        grid-template-columns: auto;
    }
    .container2{
        display: flex;
       flex-direction: column;
    }
    
   .left1{
    width: 100%;
    display: inline-block;
   }
}


/* .right a {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;


} */

/* .right a:hover {
    color: aqua;
    background-color: blue;
} */

/* .right {
    padding: 30px 50px;
    
} */

.container2 {
    display: flex;
    justify-content: center;
    position: relative;
    

}
.left1{
    background-color: bisque;
    width:25rem;
    height: 44em;
}
  


.heading {
    width: 1000px;
    border: 1px solid black;
}

.heading h1 {
    text-align: center;
}
.homeimage{
    padding: 10px 400px  ;
    
    
}
.homeimage img{
    width: 300px;
    
}
.homeimage h2{
    padding-left: 100px;
}
.home{
    justify-content: center;
}
@media screen and (max-width: 600px) {
   
}
.right a {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    
    
   
    text-align: center;
   
   
    position: relative;
   
  }
  
  
  



.right a:hover {
    color: aqua;
    background-color: blue;
}
.right .icon {
    display: none;
  }



.right {
    padding: 40px 50px;
    overflow: hidden;
    background-color: #333;
    display: flex;
    position: relative;
    flex-wrap: wrap;

}
.right a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .right .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .right a{
      flex-direction: column;
    } 
   
  }


.home {
    background-color: gray;
    margin: 20px;
  
   

}
